//------viewports------------

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;

img {
  max-width: 100%;
  height: auto;
}
//убирает подсветку во всех браузерах на input, select, button, a
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

input {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
//-------------------------------

@keyframes bounce {
  /*выплывание для мобил меню  */
  0% {
    transform: translateY(-50px);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 10px 53px;
  width: 168px;
  height: 40px;
  color: #ffffff;
  background: #68b738;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background: #5EAA2F;
  }
 &:active {
  color: rgba(255, 255, 255, 0.3);
 }
}

.up-button {
  position: fixed;
  z-index: 2;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 5px solid;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #473c8d;

  &:hover {
    color: rgba(71, 60, 141, 0.8);
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(71, 60, 141, 0.8);
    //opacity: 0.5;
  }
}

.shown {
  display: inline-block;
}

.page {
  font-size: 18px;
  font-family: "Oswald";
  line-height: 27px;
  background-color: #ffffff;
  color: #000000;
}

.page__body {
  min-width: 390px;
  margin: 0;
  color: #000000;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
} 


.header {
  min-width: 320px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
  }
  // height: 696px;
}

.header__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 20px;

  //flex-direction: column; //задаем главную ось сверху вниз
  @media (max-width: $mobile-width-only) {
    //display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  @media (min-width: $tablet-width) {
    min-width: 767px;
    margin: 0 30px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  //inline потому как img display:inline п.у.
  height: 85px;
  //margin: auto;
  //margin-left: 30px;
}

.header__logo img {
  width: 226px; //размеры лого по макету мобайл
  height: 85px;
  &:hover {
    //измен цвета при наведении
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.header__toggle {
  //лежит в main-nav
  //кнопка меню мобильная
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 50px;
  margin-left: 65px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
  border: none;

  &:hover, //измен цвета при наведении 
  &:active {
    background-color: rgba(246, 246, 246, 0.808);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .header__toggle::before {
  //.
  //main-nav--closed стили переключ при закрытом мен
  //3 полоски на кнопке
  content: "";
  position: absolute;
  //z-index: 2;
  top: 17px;
  right: 15px;
  width: 36px; //ширина полоски
  height: 2px; //высота полоски
  background-color: #000000;
  box-shadow: // верхняя полоска отбрасывает две тени
    0 8px 0 0 #000000,
    //смещение тени на 8рх
    0 16px 0 0 #000000; //смещение тени на 16рх
}

.main-nav--closed .header__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
}

.main-nav--opened .header__toggle {
  //состояние меню при открытом
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #000000;
  }
  &::before {
    transform: rotate(45deg); // рисуем крестик 1 палочка на 45
  }
  &::after {
    transform: rotate(-45deg); // рисуем крестик 2 палочка на 45
  }

  &:hover, //измен цвета при наведении 
  &:active {
    background-color: rgba(246, 246, 246, 0.808);
  }
  &:active::before,
  &:active::after {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: $mobile-width-only) {
  //чтоб меню было спрятано в моб версии и отобр в др
  .main-nav {
    display: none;
  }
}

.main-nav__wrapper {
  display: flex;

  @media (max-width: $mobile-width-only) {
    animation-name: bounce;
    animation-duration: 0.8s; //задержка появления формы
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
  }
}

.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.site-list a {
  //стили для кнопок мобильного меню
  position: relative;
  display: flex;
  height: 66px;
  justify-content: center;
  align-items: center;
  //padding-bottom: 13px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  // background-color: #ffffff; //цвет пунктов меню
  border-top: 1px solid #e6e6e6; // полоски вдавленности
  border-bottom: 1px solid #e6e6e6;
  margin: -1px;

  &:hover {
    //измен цвета при наведении
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border-top: none; // полоски вдавленности
    border-bottom: none;
    height: 66px;
    padding: 12px 21px;
  }
  @media (min-width: $desktop-width) {
    height: 66px;
    padding: 12px 21px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }
}

.site-list__item {
   
  @media (min-width: $tablet-width) {
  &:last-child {
    //у послед эл-а убираем отступ
    margin-right: 0;
  }
  &--active {
    //рисуем полоску активн меню
   position: relative;
    &::after {
      content: "";
      border-bottom: 3px solid #68B738;
      position: absolute;
      right: 20px;
      bottom: 23px;
      left: 20px;
      height: 2px;
      //background: #68B738
    }
  }
}

@media (min-width: $desktop-width) {
  margin-right: 0;
  &--active::after {
    border-bottom: 3px solid #68B738;
   /*  background: #ffffff;
    right: 30px;
    left: 30px; */
    }
  }
}



//---------------------//

.programSelection__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  // display: inline-block;
  margin: 27px 41px 37px 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    margin-left: 29px;
  }

  @media (min-width: $desktop-width) {
    margin: 53px 110px 56px;
  }
}

.programSelection__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 37px 74px 39px 20px;
  width: 226px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    margin: 0 70px 66px;
    width: 323px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px 66px;
  }
}
//---------------Title Line

.title {
  position: relative;
  margin: 38px 0 56px;

  @media (min-width: $tablet-width) {
    margin: 65px 0 86px;
  }
  @media (min-width: $desktop-width) {
    margin: 69px 0 94px;
  }

  &__box {
    //div для заголовка

    //  position: absolute;
    font-size: 24px;
    line-height: 26px;
    width: 224px;
    // margin-left: 0px;

    @media (min-width: $tablet-width) {
      width: auto;
      margin-left: 30px;
      //left: 30px;
      //top: -24px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 70px;
    }
  }

  &__text {
    //заголовок
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    text-align: left;
    margin: 0;
    padding-left: 21px;
    padding-right: 22px;
    display: inline-block;
    background-color: #ffffff;
    white-space: nowrap;


    @media (min-width: $tablet-width) {
      //  margin: 75px 110px 81px;
      font-size: 36px;
      line-height: 36px;
      padding-left: 39px;
      padding-right: 40px;
      //  padding-right: 36px;
    }
    @media (min-width: $desktop-width) {
      // margin: 75px 110px 81px;
      padding: 0 40px;
      // padding-right: 35px;
    }
  }
}

.title__line {
  border-top: 3px solid green;
  // margin-top:-14px;

  position: relative;
  z-index: -1;
  top: -12px;
  left: 0;
}

.contactDetails__title .title__line {
  border-top: 3px solid green;
  // margin-top:-14px;
  position: relative;
  z-index: -1;
  top: -12px;
  left: 0;
  @media (min-width: $tablet-width) {
    top: -12px;
  }
}

//---------------Title Line


.formSelection__wrapper {
  display: block;
  //margin: 39px 20px 27px 20px ;
  /* outline: 1px solid red;
  outline-offset: 2px; */

  @media (min-width: $tablet-width) {
    // display: block;
    // margin:0 auto;
    min-width: 630px;
    margin: 0 71px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    min-width: 1220px;
    justify-content: space-between;
    margin: 0 110px;
    /* outline: 1px solid red;
  outline-offset: 2px; */
  }
}

.formSelection__container {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 27px;
  padding: 0 20px;

  /* outline: 1px solid blue;
  outline-offset: -2px; */

  @media (min-width: $tablet-width) {
    border: none;
    min-width: 630px;
    margin-bottom: 72px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 569px;
    margin: 0;
  }
}

.formSelection__form {
  //стили для form
  display: flex;
  flex-direction: column;
}

.inputForm__box {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  // flex-wrap: nowrap;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 0px;

  }
}

.inputForm__label {
  text-transform: uppercase;
  color: #444444;
  margin-right: 14px;
  white-space: nowrap;

  font-size: 16px;
  line-height: 18px;
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.inputForm__field {
  padding: 11px 18px;
  width: 100%;
}

.formSelection__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.formSelection__radio {
  margin-bottom: 27px;
  padding: 0 20px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    //  min-width: 630px;
    margin: 0;
    padding: 25px 28px 12px 25px;
  }
  @media (min-width: $desktop-width) {
    margin-left: 80px;
    width: 569px;
    display: flex;
    align-items: center;
    padding: 25px 0 14px 25px;
  }
}

.formSelection__item {
  margin-bottom: 13px;
  align-items: center;
  display: flex;
}

.formSelection__input {
  // скрываем стандартный чекбокс
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.formSelection__input + label {
  //создаем нужный чекбокс
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none; //Текст элемента и его вложенных элементов не выбирается.
}
/* создание в label псевдоэлемента  before со следующими стилями */
.formSelection__input + label::before {
  width: 30px;
  height: 30px;
  content: "";
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}
/* стили при наведении курсора на радио */
.formSelection__input:not(:checked) + label:hover::before {
  border-color: #bababa;
  // border: 1px solid  red;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.formSelection__input:active + label:active {
  opacity: 0.3;
}

/* стили для радиокнопки, находящейся в фокусе */
.formSelection__input:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(104, 183, 56, 0.25);
}

/* стили для радиокнопки, находящейся в состоянии checked */
.formSelection__input:checked + label::before {
  border-color: #bababa;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%2368B738'/%3e%3c/svg%3e");
}

.formSelection__label {
  text-transform: uppercase;
  color: #222222;
  margin: 0;

  font-style: normal;
  font-weight: normal;

  font-size: 16px;
  line-height: 18px;
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.contactDetails__container {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 630px;
    margin: 0 65px 0px 71px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    min-width: 1220px;
    margin: 0 110px 69px 110px;
  }
}

.contactDetails__telefon {
  @media (min-width: $desktop-width) {
    margin-left: 78px;
  }
}

.comment__text {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 630px;
    margin: 0 67px 0px 71px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    margin: 0 110px;
  }
}

.comment__field {
  width: 100%;
  height: 174px;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.additionally__container {
  display: block;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 67px 0px 71px;
    min-width: 565px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 61px 110px;
    max-width: 100%;
    min-width: 1220px;
  }
}

.additionally__box {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    //margin-right:123px ;
    width: 46%;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
    width: auto;
  }
}

/* скрываем стандарт чекбокс */
.additionally__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/*  */
.additionally__input + label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none; // чтоб при клике текст лэйбла не выделялся
}

/* создание в label псевдоэлемента before со следующими стилями */
.additionally__input + label::before {
  width: 26px;
  height: 26px;
  content: "";
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  // border-radius: 0.25em;
  margin-right: 19px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

/* стили при наведении курсора на checkbox */
.additionally__input:not(:checked) + label:hover::before {
  border-color: #bababa;
}

/* стили для активного чекбокса (при нажатии на него) */
.additionally__input:active + label:active {
  opacity: 0.3;
}

/* стили для чекбокса, находящегося в фокусе */
/* .custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: red;
  border: 3px solid red;
}

/* стили для чекбокса, находящегося в состоянии checked */
.additionally__input:checked + label::before {
  // border-color: #0b76ef;
  //background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2368B738' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.additionally__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  white-space: nowrap;
  margin-left: 0;
  font-style: normal;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.sendApplication {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 20px;

  /* outline: 1px solid green;
  outline-offset: -2px; */

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin: 54px 67px 72px 71px;
  }
  @media (min-width: $desktop-width) {
    // justify-content: flex-start;
    margin: 61px 110px 82px;
    min-width: 1220px;
  }
}

.sendApplication__button {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  min-width: 280px;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 0px;
    height: 52px;
    width: 282px;
    padding: 13px 45px;
  }
  @media (min-width: $desktop-width) {
    min-width: 568px;
  }
}

.sendApplication__description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  margin: 21px 0 0 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;

    margin-left: 81px;
    min-width: 179px;
  }
}
//-------*****************-------------

.invitation__map {
  margin: 0 auto;
  height: 400px;
}

.invitation__wrapper {
  // max-width: 900px;
  margin: 0 auto;
  position: relative;
  background: #f2f2f2;
}

.invitation__contacts {
  display: flex;
  justify-content: space-between;
  margin: 32px 20px 28px 20px;
  min-width: 282px;
  align-items: center;

  @media (min-width: $tablet-width) {
    //  margin: 66px 72px 52px 71px;
    //margin-left: 30px;
    background: #f2f2f2;
    padding: 65px 71px 58px 71px;
    margin: 0;
    margin-top: 76px;
    //width: 770px;
    // height: auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    max-height: 201px;
    max-width: 570px;
    position: absolute;
    top: 70px;
    left: 110px;
    padding: 62px 89px 52px 76px;
    background: #ffffff;
    border: 1px solid #ddd;
    z-index: 1;
    box-shadow: -1px -1px 24px 0px rgba(50, 50, 50, 0.5);
  }
}

.invitation__title {
  min-width: 140px;
  margin: 0;
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    min-width: 180px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    font-family: Oswald;
  }

  @media (min-width: $desktop-width) {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-transform: uppercase;
    min-width: 180px;
    margin: 0;
  }
}

.invitation__text-div {
  min-width: 140px;
  margin: 0;
  & p {
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    min-width: 180px;
    & p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      font-family: Arial;
      text-align: right;
    }

    .invitation__text {
      margin-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    .invitation__text {
      margin-top: 20px;
    }
  }
}

.footer {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    height: 149px;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}


.footer__container {
  text-align: center;
  margin: 0 20px;
  min-width: 204px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 57px 110px 58px 110px;
    width: 100%;
  }
}

.footer__logo {
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.footer__logo {
  &:hover {
    //измен цвета при наведении
    opacity: 0.6;
  }
  &:active {
    opacity: 0.4;
  }
}

.footer__social {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 65px;
  width: 130px;
  a {
    text-decoration: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 129px;
  }
}

.footer__develop {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 22px;
  max-width: 281px;

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 163px;
  }
}

.social-list__icon {
  fill: #666;
  &:hover, //измен цвета при наведении 
 &:active {
    fill: #68b738;
  }
}

.page-footer__title {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444, 100%;
}

.develop__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #111;

  &:hover, //измен цвета при наведении 
    &:active {
    fill: #68b738;
    color: #68b738;
  }
}
