/* oswald-regular - latin_cyrillic */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/oswald-v36-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/oswald-v36-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

//------viewports------------

$tablet-width: 768px; //min-width: $tablet-width от 768px до 1300px
$desktop-width: 1300px; // min-width: $desktop-width от 1300px и больше
$mobile-width-only: 767px; //max-width: $mobile-width-only менее 767px

html {
  box-sizing: border-box; // чтоб паддинги не увеличивали блок
}

*,
*::after,
*::before {
  box-sizing: border-box; // чтоб паддинги не увеличивали блок
}

body {
  height: 100vh;
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%; // чтоб не прывышало размеры контейнера
  height: auto; // для пропорционального сжатия по высоте
}

//убирает подсветку во всех браузерах на input, select, button, a
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
//-------------------------------

@keyframes bounce {
  /*выплывание для мобил меню  */
  0% {
    transform: translateY(-50px);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 14px 26px;
  height: 54px;
  color: #ffffff;
  background: #68b738;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 0px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: #5eaa2f;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.up-button {
  position: fixed;
  z-index: 2;
  padding: 0;
  bottom: 75px;
  right: 25px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 5px solid;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #473c8d;

  &:hover {
    color: rgba(71, 60, 141, 0.8);
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(71, 60, 141, 0.8);
  }
}

.shown {
  display: inline-block;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  min-width: 300px;
  color: #000000;
}

.header {
  //min-width: 320px;
  // height: 696px;
  @media (min-width: $desktop-width) {
    // от   1300px и больше
    margin: 0 auto;
    background-image: url(/CatEnergy/img/index-background-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: right; /* позиционир справа */
    background-size: contain;
    background-size: 720px 100%;
  }
}

.header__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  //flex-direction: column; //задаем главную ось сверху вниз
  @media (max-width: $mobile-width-only) {
    display: block;
    border-bottom: 1px solid #e6e6e6;
    align-items: center;
  }
  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.header__wrapper {
  width: 100%;
  height: 65px;
  position: relative;
  display: flex;
  //margin-left: 20px;

  @media (max-width: $mobile-width-only) {
    align-items: center;
    padding-left: 20px;
    height: 65px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    height: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0px;
    margin-top: 50px;
  }
}

.header__logo-ico {
  @media (min-width: $tablet-width) {
    width: 174px; //размеры лого по макету мобайл
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px; //размеры лого по макету мобайл
    height: 60px;
  }

  @media (max-width: $mobile-width-only) {
    width: 34px; //размеры лого по макету мобайл
    height: 38px;
    margin-right: auto;
  }
}

.header__logo-ico2 {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
    width: 101px; //размеры лого по макету мобайл
    height: 18px;
    margin-right: 43%;
  }
}

.header__logo img {
  &:hover {
    //измен цвета при наведении
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.header__toggle {
  //лежит в main-nav
  //кнопка меню мобильная
  position: absolute;
  top: 50%;
  margin-top: -25px;
  right: 0;
  width: 70px;
  height: 50px;
  background-color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
  border: none;

  &:hover, //измен цвета при наведении
  &:active {
    background-color: rgba(246, 246, 246, 0.808);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .header__toggle::before {
  //.
  //main-nav--closed стили переключ при закрытом мен
  //3 полоски на кнопке
  content: "";
  position: absolute;
  //z-index: 2;
  top: 17px;
  right: 15px;
  width: 36px; //ширина полоски
  height: 2px; //высота полоски
  background-color: #000000;
  box-shadow: // верхняя полоска отбрасывает две тени
    0 8px 0 0 #000000,
    //смещение тени на 8рх
    0 16px 0 0 #000000; //смещение тени на 16рх
}

.main-nav--closed .header__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
}

.main-nav--opened .header__toggle {
  //состояние меню при открытом
  top: 50%;
  margin-top: -25px;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #000000;
  }
  &::before {
    transform: rotate(45deg); // рисуем крестик 1 палочка на 45
  }
  &::after {
    transform: rotate(-45deg); // рисуем крестик 2 палочка на 45
  }

  &:hover, //измен цвета при наведении
  &:active {
    background-color: rgba(246, 246, 246, 0.808);
  }
  &:active::before,
  &:active::after {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav {
  height: auto;
  opacity: 1;

  transition: height 0.5s, opacity 0.2s;

  @media (max-width: $mobile-width-only) {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.5s, opacity 0.2s;
    cursor: none;
  }

  @media (min-width: $tablet-width) {
    margin-right: 30px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}

.mobile-menu--show {
  display: flex;
  visibility: visible;
  transition: height 0.5s, opacity 1s;

  height: 194px;
  opacity: 1;
  a {
    &:hover {
      opacity: 0.7;
    }
  }
}

.main-nav__wrapper {
  width: 100%;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
  }
}

.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.site-list a {
  //стили для кнопок мобильного меню
  position: relative;
  display: flex;
  height: 66px;
  justify-content: center;
  align-items: center;
  //padding-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  // background-color: #ffffff; //цвет пунктов меню
  border-top: 1px solid #e6e6e6; // полоски
  //border-bottom: 1px solid #e6e6e6;
  margin: -1px 0;
  transition: border-top 1px solid #e6e6e6 15s;

  @media (min-width: $tablet-width) {
    border-top: none; // полоски
    border-bottom: none;
    height: 66px;
    padding: 12px 34px 12px 0;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
  @media (min-width: $desktop-width) {
    height: 66px;
    padding: 12px 21px;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__item {
  @media (min-width: $tablet-width) {
    &:hover {
      opacity: 0.7;
    }
    &:last-child {
      //у послед эл-а убираем отступ
      margin-right: 0;

      a {
        padding-right: 0;
      }
    }
    &--active {
      //opacity: 0.8;
      position: relative;
      &:hover {
        opacity: 0.6;
      }

      &::after {
        content: "";
        border-bottom: 3px solid #68b738;
        position: absolute;
        right: 30px;
        bottom: 10px;
        left: 0px; //height: 2px;
        // opacity: 0.9;
        //background: #68B738
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;

    &--active {
      //opacity: 0.8;
      &:hover {
        opacity: 0.8;
      }

      &::after {
        border-bottom: 3px solid #ffffff;
        //opacity: 0.9;
        right: 20px;
        left: 22px;
      }
    }
  }
}

.promo {
  margin-bottom: 20px;
}

.promo__container {
  position: relative;

  .promo__img {
    @media (max-width: 520px) {
      z-index: -1;
      position: absolute;
      top: -136px;
      left: 0;

      background-image: url(/CatEnergy/img/index-background-mobile@1x.jpg);

      background-repeat: no-repeat;
      // background-size: 100% calc(100% - 162px); //320px 305px;
      background-position: center top;
      height: 305px;
      width: 100%;
      background-size: contain;
      background-size: 100% 305px;
    }
  }

  @media (min-width: $tablet-width) {
    //text-align: left;

    margin: 0 auto;
    margin-left: 117px;
  }
  @media (min-width: $desktop-width) {
    margin-left: 190px;
    margin-bottom: 82px;
    min-height: 552px;
  }

  @media (max-width: $mobile-width-only) {
    // margin-top: 180px;
    text-align: center;
    form {
      padding: 0 20px;
    }

    // width: 100%;
  }

  @media (max-width: 520px) {
    margin-top: 135px;
    text-align: center;
    //width: 100%;
  }
}

.promo__icon {
  @media (max-width: $mobile-width-only) {
    position: static; //mobile
    display: block;
    top: 11%;
    left: 36%;
    margin: auto;
  }

  @media (min-width: $tablet-width) {
    display: block;
    //min-width: 720px;
    margin: 0 auto;
  }
  @media (min-width: $desktop-width) {
    position: absolute;
    min-width: 552px;
    z-index: 1;
    top: -15%;
    left: 36%;
    width: 597px;
  }
}

.promo__title {
  @media (max-width: $mobile-width-only) {
    font-size: 36px;
    line-height: 36px;
    //text-align: center;
    font-style: normal;
    font-weight: normal;
    color: black;
    //display: none;
  }

  @media (max-width: 520px) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -124px;
    margin-top: -280px;
    color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    position: static;

    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    margin-top: 110px;
    color: black;

    //text-align: left;
  }
}

.promo__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    margin: 25px 0;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: black;
    position: static;
  }

  @media (max-width: 520px) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -99px;
    margin-top: -180px;
    color: #ffffff;
  }
}

.promo__button {
  width: 100%;
  @media (min-width: $tablet-width) {
    width: 244px;
    position: absolute;
    top: 235px;
    left: 4px;
  }
  @media (max-width: $mobile-width-only) {
    height: 40px;
  }
}

.programm__wrapper {
  //min-width: 390px;
  //margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 110px;
  }
}

.programm__block {
  //min-width: 280px;
  //min-height: 266px;
  padding: 21px 33px 18px 20px;
  margin: 20px 20px 0 20px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  position: relative;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    height: 100%; //372px
    padding: 75px 60px 50px 50px;
    margin: 28px 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 47%;
    margin: 0;
    padding: 41px 51px 55px 52px;
  }
}

.programm__pro,
.programm__slim {
  //position: relative;
  text-align: center;
  width: 53px;
  height: 53px;
  // border-radius: 50%;
  //background-color: #68b738;
  display: flex;
}
@media (min-width: $tablet-width) {
  .programm__slim {
    width: 202px;
    height: 202px;
    position: absolute;
    top: 0;
    right: -14px;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-right: 62px;
  }
  .programm__pro {
    width: 268px;
    height: 200px;
    position: absolute;
    top: 0;
    right: -42px;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-right: 62px;
  }
}

@media (min-width: $desktop-width) {
  .programm__slim {
    order: inherit;
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    margin: 0;
  }
  .programm__pro {
    order: inherit;
    position: relative;
    top: 0;
    left: -16px;
    width: 134px;
    height: 100px;
    margin: 0;
  }
}

.programm__icon-slim {
  position: absolute;
  width: 67px;
  height: 50px;
  left: 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 140px;
    height: 192px;
    left: 39px;
  }
  @media (min-width: $desktop-width) {
    position: absolute;
    width: 70px;
    height: 97px;
    left: 18px;
  }
}
.programm__icon-pro {
  position: absolute;
  width: 70px;
  height: 50px;
  left: 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 268px;
    height: 200px;
    left: -6px;
  }
  @media (min-width: $desktop-width) {
    position: absolute;
    width: 134px;
    height: 100px;
    left: -6px;
  }
}

.block__circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    margin: auto;
  }
  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.programm__title {
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #111;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 36px;
    line-height: 37px;
    font-weight: 400;
    text-transform: uppercase;
  }
  @media (min-width: $desktop-width) {
    width: calc(100% - 162px);
    margin: 0;
  }
}

.programm__text {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    padding-bottom: 21px;
    margin-top: 17px;
    margin-bottom: 0;
    margin: 0;
  }
  @media (min-width: $tablet-width) {
    width: calc(100% - 295px);
    margin-top: 24px;
    //margin-bottom: 48px;
  }
  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 82px;
  }
}

.programm__link {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    //измен цвета при наведении
    opacity: 0.6;
    & img {
      width: 62px;
    }
  }
  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    vertical-align: bottom; // -80px

    //margin: 0px;
    // height: 80px;
    //margin-top: -80px;
  }
}

.howItworks {
  @media (max-width: $mobile-width-only) {
    margin: 40px 0;
  }
}

.howItworks__wrapper {
  @media (max-width: $mobile-width-only) {
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;

    width: 100%;
  }
}

.howItworks__list {
  // display: block;
  // min-width: 288px;
  padding: 0;
  //column-count: 0;

  @media (min-width: $tablet-width) {
    column-count: 2;
    padding: 0;
    margin: 0 auto;
    max-width: 933px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: none;
  }
}

.howItworks__item {
  display: flex;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
    margin-bottom: 37px;
    width: 245px;
    height: 280px;

    .contacts__item:nth-child(3),
    .contacts__item:nth-child(4) {
      text-align: right;
    }
  }
}

.howItworks__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  text-align: left;

  color: #000000;

  @media (max-width: $mobile-width-only) {
    font-size: 36px;
    line-height: 40px;
  }
}

.howItworks__text {
  @media (max-width: $mobile-width-only) {
    //width: 255px;

    margin-left: 20px;
  }
  @media (min-width: $tablet-width) {
    width: 201px;
  }
}

.howItworks__numeral {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    z-index: -1;
    top: -12px;
    right: 0;
    margin: 0;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
  }
}

.liveExample {
  background: #eaeaea;

  @media (min-width: $tablet-width) {
    background: none;
    position: relative;
    border-top: 1px solid #e6e6e6;
  }
  @media (min-width: $desktop-width) {
    border: none;
  }
}

/* .liveExample__cotainer {
  //margin-left: 20px;
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    padding: 0;
  }
} */

.liveExample__block {
  @media (max-width: $mobile-width-only) {
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    padding: 0;
    display: flex;
  }

  @media (min-width: $desktop-width) {
  }
}

.liveExample__wrapper {
  //margin-right: 20px;
  /* outline: 1px solid green;
  outline-offset: -4px; */

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.slider__background {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 462px;
    background: #e9e9e9;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    z-index: -1;
    //left: -4px;
    bottom: 0;
    width: 100%;
    height: 462px;
    background-image: linear-gradient(to right, #f2f2f2 0, #f2f2f2 calc(100% - 350px), #e9e9e9 calc(100% - 383px), #e9e9e9 100%);
  }
}

.liveExample__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  text-align: left;

  @media (max-width: $mobile-width-only) {
    font-size: 36px;
    line-height: 40px;
    text-align: left;
    display: inline-block;
  }
}

.liveExample__text {
  margin: 25px 0px;
  @media (min-width: $desktop-width) {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    margin-top: 96px;
  }
}
.liveExample__fieldset-left {
  //margin-right: 31px;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }

  @media (max-width: 357px) {
    margin-bottom: 20px;
  }
}

.liveExample__expenses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

  margin: 25px 31px 37px;

  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-end;

    //width: 150px;
    //text-align: right;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;

    margin-bottom: 75px;
  }
}
.liveExample__fieldset-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 357px) {
    flex-direction: column;
  }
  @media (max-width: $mobile-width-only) {
    margin: 0;
  }
}

fieldset {
  // color: #0000ff;
  text-align: center;
  border: 1px solid #cdcdcd;
  // padding: 20px;
}
legend {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}
fieldset,
legend,
.liveExample__rotate-wrapper {
  transform: rotate(180deg);
}

.liveExample__rotate-wrapper dt {
  width: 124px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.slider__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    padding: 34px 0;
  }
}

.slider__wrapper {
  position: relative;
  width: 280px;
  height: 232px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 707px;
    height: 620px;
    margin: 0 auto;
  }
}

.slider__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    height: 607px;
  }
}

.image-before {
  z-index: 1;
  background-image: url("../img/before-mobile@1x.png");
  background-position-x: -15px;
  background-position-y: 2px;

  @media (min-width: $tablet-width) {
    margin-left: 5px;
    z-index: 1;
    background-image: url("../img/before-tablet@1x.png");
    background-position-x: -82px;
    background-position-y: 4px;
    //transition: width 0.3s ease-in-out;
  }
}

.image-after {
  direction: rtl;
  left: auto;
  right: 0;
  z-index: 1;
  background-image: url("../img/after-mobile@1x.png");
  background-position-x: -5px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

  @media (min-width: $tablet-width) {
    margin-right: -5px;
    background-image: url("../img/after-tablet@1x.png");
    background-position-x: -62px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    //transition: width 0.3s ease-in-out;
  }
}

.slider__button {
  font-family: inherit;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  width: 60px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: auto;
    padding: 7px 0;
    border-bottom: 1px dotted #bebebe;
    outline: 0;
  }
}

.slider__progress {
  width: 84px;
  //height: 10px;
  padding: 3px 5px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background-color: #fff;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 427px;
    height: 35px;
    border: 0;
    padding: 0 20px;
    background-color: transparent;
    transform: translate(4px, 11px);
  }
}

.slider__range {
  width: 50%;
  height: 6px;
  border-radius: 10px;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.demo__range {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    appearance: none;
    width: 100%;
    height: 6px;
    background-color: #dcdcdc;
    outline: 0;
    cursor: pointer;
    margin-top: 4px;
    z-index: 1;
  }
}

.demo__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 1;
  width: 35px;
  height: 35px;
  border: 1px solid #cecece;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px 0 #d6d6d6;
  box-shadow: 0 2px 2px 0 #d6d6d6;
  background-color: #fff;
}

.demo__range::-webkit-slider-thumb:focus,
.demo__range::-webkit-slider-thumb:hover {
  -webkit-box-shadow: 0 5px 5px 0 #d6d6d6;
  box-shadow: 0 5px 5px 0 #d6d6d6;
}

.demo__range::-webkit-slider-thumb:active {
  border-color: #68b738;
}
//-----------------------------------

.invitation__map {
  margin: 0 auto;
  height: 400px;
}

#map {
  width: 100%;
  height: 400px;
  //	border: 1px solid red;
}

.invitation__wrapper {
  // max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.invitation__contacts {
  display: flex;
  justify-content: space-between;
  margin: 28px 20px 28px 20px;

  @media (min-width: $tablet-width) {
    margin: 66px 72px 52px 71px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    height: 201px;
    width: 570px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 20px;
    padding: 62px 89px 52px 76px;
    background: #ffffff;
    border: 1px solid #ddd;
    z-index: 1;
    box-shadow: -1px -1px 24px 0px rgba(50, 50, 50, 0.5);
  }
}

.invitation__title {
  min-width: 180px;
  margin: 0;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    min-width: 180px;
    margin: 0;
  }
}

.invitation__text-div {
  //min-width: 140px;
  margin: 0;
  & p {
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    & p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      font-family: Arial;
      text-align: right;
    }

    .invitation__text {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.footer {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    height: 149px;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}

.footer__container {
  text-align: center;
  margin: 0 20px;
  min-width: 204px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 57px 110px 58px 110px;
    width: 100%;
  }
}

.footer__logo {
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.footer__logo {
  &:hover {
    //измен цвета при наведении
    opacity: 0.6;
  }
  &:active {
    opacity: 0.4;
  }
}

.footer__social {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 65px;
  width: 130px;
  a {
    text-decoration: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 129px;
  }
}

.footer__develop {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 22px;
  //max-width: 281px;

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 163px;
  }
}

.footer__icon {
  fill: #666;
  &:hover, //измен цвета при наведении
 &:active {
    fill: #68b738;
  }
}

.develop__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #111;

  &:hover, //измен цвета при наведении
    &:active {
    fill: #68b738;
    color: #68b738;
  }
}
